/* Обнуление отступов и границ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем обводку и стили у ссылок и кнопок */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

/* Наследование шрифта и сброс списков */
ul, ol {
  list-style: none;
}

body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  width: 100%;
  overflow-x: hidden;
}

/* Сброс таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 элементы */
article, aside, footer, header, nav, section, main {
  display: block;
}

/* Atyp Text Regular */
@font-face {
  font-family: 'Atyp Text Regular';
  src: url(/fonts/AtypTextRegular/atyptext-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Atyp Text SemiBold */
@font-face {
  font-family: 'Atyp Text SemiBold';
  src: url(/fonts/AtypTextSemiBold/atyptext-semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Atyp Text Bold */
@font-face {
  font-family: 'Atyp Text Bold';
  src: url(/fonts/AtypTextBold/atyptext-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* BebasNeue Bold */
@font-face {
  font-family: 'BebasNeue';
  src: url(/fonts/BebasNeueBold/bebas_neue_bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
  line-height: 1;
}

.header__item {
  display: flex;
  padding: 20px 0;
}

.flex-spcbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__transperency {
  /*background-image: url(images/header/header__transperency.png);*/
  background-color: #1e1e1e99;
}

.contentBox {
  margin: auto;
  max-width: 1400px;
}

.header__work-time {
  margin-right: 105px;
  font-family: 'Atyp Text Regular';
  font-size: 14px;
  color: #ffffff;
}

.tel__number {
  font-family: 'Atyp Text SemiBold';
  font-size: 20px;
  color: #ffffff;
}

.callback__button {
  font-family: 'Atyp Text Regular';
  font-size: 14px;
  color: #669933;
}

.header__item-search {
  align-items: center;
}

.login__btn {
  padding-left: 2px;
  padding-right: 55px;
  height: 40px;
  font-family: 'Atyp Text Regular';
  font-size: 14px;
  color: #ffffff;
  background-image: url(images/header/login_icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
}

.login__btn:focus {
  outline: 1px solid #ffffff55;
}

.header__search {
  margin-right: 130px;
  width: 280px;
  height: 40px;
  background-image: url(images/header/search_input.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.search__input {
  margin-left: 10px;
  width: 260px;
  height: 40px;
  border: none;
  /*outline: 1px solid white;*/
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
  background-image: url(images/header/search_icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
}

.search__input::placeholder {
  font-family: 'Atyp Text Regular';
  font-size: 14px;
  color: #ffffff;
  height: auto;
}

.search__input:focus {
  outline: none;
  background-image: none;
}

.header__navigation {
  position: relative;
  padding: 30px 0;
  background-color: #1e1e1e;
  width: 100%;
  overflow: visible;
}

.navigation__blcok {
  display: flex;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}

.navigation__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.navigation__item {
  font-family: 'Atyp Text SemiBold';
  font-size: 14px;
  color: #ffffff;
}

.navigation__items .logo-placeholder {
  width: 180px;
  pointer-events: none;
  display: ;
  margin-left: 40px;
}

.navigation__item:not(.logo-placeholder):not(:last-child) {
  margin-right: 10px;
}

.logoContainer {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  z-index: 2;
}

.logoContainer img {
  display: block;
  height: auto;
}

.banner {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  background-image: url(/images/banner/banner_background.png);
  background-repeat: no-repeat;
  padding-top: 176px;
  margin-top: -176px;
}

.banner__titileblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  background-image: url(images/banner/banner_title_block.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.banner__subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Atyp Text Bold';
  font-size: 22px;
  color: #ffcccc;
  letter-spacing: 1.144px;
}

.banner__title {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 60px;
  color: #ffffff;
  width: 650px;
  letter-spacing: 3.6px;
}

.banner__optionblock {
  display: flex;
}

.option__block {
  flex: 1;
  display: flex;
}

.option__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option__img {
  margin: 48px 40px
}

.option__subtitle {
  font-family: 'Atyp Text SemiBold';
  color: #cc9966;
  font-size: 18px;
}

.option__title {
  font-family: 'Atyp Text SemiBold';
  color: #ffffff;
  font-size: 32px;
}

.option_nonselect {
  background-image: url(/images/banner/Фон1.png);
  background-repeat: no-repeat;
}

.option_select {
  background-image: url(/images/banner/Фон2.png);
  background-repeat: no-repeat;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.companydescr {
  display: flex;
}



.companydescr__leftblock {
  flex: 0 0 50%;
  padding-left: 260px;
  padding-right: 90px;
  background-image: url(images/homedescr/homeDescrTitleImage.png);
  background-repeat: no-repeat;
}

.companydescr__rightblock {
  flex: 0 0 50%;
  padding-right: 260px;
  padding-left: 90px;
  background-color: #ffcccc;

}

.companydescr__title {
  margin-top: 130px;
  margin-bottom: 90px;
  font-family: 'Bebas Neue';
  font-size: 80px;
  color: #339933;
}

.companydescr__subtitle {
  margin-bottom: 90px;
  font-family: 'Bebas Neue';
  font-size: 64px;
}

.companydescr__descr-bold {
  padding-top: 130px;
  margin-bottom: 80px;
  font-family: 'Atyp Text Semibold';
  font-size: 19px;
  line-height: 1.5;
}

.companydescr__descr {
  font-family: 'Atyp Text Regular';
  font-size: 20px;
}

.services {
  margin-bottom: 100px;
}

.services__siege {
  display: flex;
}

.siege__img {
  flex: 0 0 50%;
  
}

.siege__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.siege__descr {
  flex: 0 0 50%;
}

.siege__title {
  display: inline-block;
  padding: 15px 90px;
  margin-top: 65px;
  margin-bottom: 45px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #339933;
}

.siege__text {
  padding-left: 90px;
  margin-right: 260px;
  font-family: 'Atyp Text Regular';
  font-size: 18px;
  line-height: 1.5;
}

.siege__text :not(:last-child) {
  margin-bottom: 10px;
}

.services__windows {
  display: flex;
}

.windows__descr {
  flex: 0 0 50%;
}

.windows__img {
  flex: 0 0 50%;
}

.windows__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.windows__title {
  display: inline-block;
  margin-top: 65px;
  margin-left: 260px;
  margin-bottom: 40px;
  padding: 15px 90px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #cc9966;
}

.windows__text {
  margin-left: 260px;
  margin-right: 90px;
  font-family: 'Atyp Text Regular';
  font-size: 18px;
  line-height: 1.5;
}

.services__painting {
  display: flex;
}

.painting__img {
  flex: 0 0 50%;
}

.painting__descr {
  flex: 0 0 50%;
}

.painting__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.painting__title {
  display: inline-block;
  padding: 15px 90px;
  margin-top: 65px;
  margin-bottom: 45px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #339933;
}

.painting__text {
  padding-left: 90px;
  margin-right: 260px;
  font-family: 'Atyp Text Regular';
  font-size: 18px;
  line-height: 1.5;
}

/**************************************/

.partners {
  margin-bottom: 100px;
}

.partners__wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__title {
  margin-bottom: 25px;
  padding: 0 120px;
  font-family: 'Bebas Neue';
  font-size: 64px;
  background-image: url(images/partners/title_backgroun.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partners__allBtn {
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-family: 'Atyp Text Bold';
  font-size: 18px;
  color: #339933;
  border-bottom: 1px dashed #339933;
}

.partners__wrapper-items {
  position: relative;
  overflow: hidden;
}

.partners__sliderTrack {
  display: flex;
  gap: 45px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* скрыть стандартный скролл Firefox */
  scroll-snap-type: x mandatory;
}

.partners__sliderTrack:hover {
  min-height: 400px;
}

.partners__sliderTrack::-webkit-scrollbar {
  display: none;
}

.partners__sliderTrack.expanded {
  flex-wrap: wrap;
  overflow-x: visible;
  min-height: 800px;
}

.partners__item {
  flex: 0 0 315px;
  justify-content: center;
  max-height: 250px;
  background-color: #f6f6f6;
  scroll-snap-align: start;
  transition: max-height 0.3s ease;
}

.partners__item:hover {
  position: relative;
  max-height: 400px;
  border: 1px solid #cc9966;
  background-color: #ffffff;
}

.partners__item:hover .partners__descr span {
  max-height: 180px;
}

.partners__item:hover .rehau img {
  content: url(images/partners/rehau_selected.svg);
}

.partners__img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.partners__descr {
  width: 100%;
  text-align: center;
  padding: 20px 42px;
  font-family: 'Atyp Text Regular';
  font-size: 12px;
  color: #666666;
}

.partners__descr span {
  display: block;
  max-height: 35px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.partners__sliderScrollbar {
  margin-top: 65px;
  height: 2px;
  background: #e6e6e6;
  border-radius: 3px;
  position: relative;
}

.partners__sliderThumb {
  height: 100%;
  background: #339933;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  cursor: default;
}

/**************************************/

.news {
  margin-bottom: 100px;
  background-image: url(images/news/news_background.jpg);
  background-repeat: no-repeat;
}

.news__wrapper-title {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__title {
  margin-bottom: 25px;
  padding: 0 120px;
  padding-top: 90px;
  font-family: 'Bebas Neue';
  font-size: 64px;
  background-image: url(images/news/news_title_background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.news__allbtn {
  padding-bottom: 5px;
  font-family: 'Atyp Text Bold';
  font-size: 18px;
  color: #339933;
  border-bottom: 1px dashed #339933;
}

.news__wrapper {
  margin-bottom: 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.news__sliderTrack {
  min-height: 600px;
  display: flex;
  gap: 45px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* скрыть стандартный скролл Firefox */
  scroll-snap-type: x mandatory;
}

.news__sliderTrack::-webkit-scrollbar {
  display: none;
}

.news__sliderTrack.expanded {
  flex-wrap: wrap;
  overflow-x: visible;
}

.news__item {
  flex: 0 0 435px;
  scroll-snap-align: start;
}

.news__cover {
  position: relative;
  margin-bottom: 27px;
}

.news__details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  cursor: pointer;
  padding: 25px 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.news__item:hover .news__img img {
  filter: brightness(70%); /* затемнение до 70% яркости */
}

.news__item:hover .news__details {
  opacity: 1;
  pointer-events: auto; /* теперь кнопка кликабельна */
}

.news__date {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  margin-top: -78px;
  width: 60px;
  height: 90px;
  text-align: center;
  font-family: 'Atyp Text SemiBold';
  font-size: 18px;
  color: #ffffff;
  background-color: #339933;
}

.news__heading {
  margin-bottom: 20px;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.news__prev {
  max-width: 400px;
  font-family: 'Atyp Text Regular';
  font-size: 18px;
}

.news__sliderScrollbar {
  margin-top: 65px;
  height: 2px;
  background: #e6e6e6;
  border-radius: 3px;
  position: relative;
}

.news__sliderThumb {
  height: 100%;
  background: #339933;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  cursor: default;
}

/**************************************/

.footer {
  display: flex;
}

.footer__logo {
  position: absolute;
  padding: 20px;
  transform: translate(15px, -25px);
  background-color: #1e1e1e;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 260px) minmax(0, 1400px) minmax(0, 260px);
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1e1e1e;
}

.footer__nav {
  display: flex;
}

.footer__menu {
  display: flex;
  margin-right: 90px;
  padding-left: 20px;
  font-family: 'Atyp Text SemiBold';
  font-size: 14px;
  color: #ffffff;
}

.footer__menu :not(:last-child) {
  margin-right: 50px;
}

.footer__social :not(:last-child) {
  margin-right: 20px;
}
