/* Обнуление отступов и границ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем обводку и стили у ссылок и кнопок */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

/* Наследование шрифта и сброс списков */
ul, ol {
  list-style: none;
}

body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  width: 100%;
  overflow-x: hidden;
}

/* Сброс таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 элементы */
article, aside, footer, header, nav, section, main {
  display: block;
}

/* Atyp Text Regular */
@font-face {
  font-family: 'Atyp Text';
  src: url(/fonts/AtypTextRegular/atyptext-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Atyp Text SemiBold */
@font-face {
  font-family: 'Atyp Text';
  src: url(/fonts/AtypTextSemiBold/atyptext-semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Atyp Text Bold */
@font-face {
  font-family: 'Atyp Text';
  src: url(/fonts/AtypTextBold/atyptext-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* BebasNeue Bold */
@font-face {
  font-family: 'BebasNeue';
  src: url(/fonts/BebasNeueBold/bebas_neue_bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
  line-height: 1;
}

.header__item {
  display: flex;
  padding: 20px 0;
}

.flex-spcbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__transperency {
  background-image: url(images/header/header__transperency.png);
}

.contentBox {
  margin: auto;
  max-width: 1400px;
}

.header__work-time {
  margin-right: 105px;
  font-family: 'Atyp Text';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.tel__number {
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

.callback__button {
  font-family: 'Atyp Text';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #669933;
}

.loginButton {
  font-family: 'Atyp Text';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.heafer__search {
  margin-right: 130px;
}

.header__navigation {
  position: relative;
  padding: 30px 0;
  background-image: url(/images/header/Nav_background.png);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: visible;
}

.logoContainer {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  z-index: 2;
}

.logoContainer img {
  display: block;
  height: auto;
}

.navigation__blcok-left {
  display: flex;
  text-transform: uppercase;
}

.navigation__item-left {
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.navigation__item-left:not(:last-child) {
  margin-right: 40px;
}

.navigation__blcok-right {
  display: flex;
  text-transform: uppercase;
}

.navigation__item-right {
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.navigation__item-right:not(:last-child) {
  margin-right: 45px;
}

.banner {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  background-image: url(/images/banner/banner_background.png);
  background-repeat: no-repeat;
  padding-top: 176px;
  margin-top: -176px;
}

.banner__titileblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  background-image: url(images/banner/banner_title_block.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.banner__subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Atyp Text';
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #ffcccc;
  letter-spacing: 1.144px;
}

.banner__title {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 60px;
  color: #ffffff;
  width: 650px;
  letter-spacing: 3.6px;
}

.banner__optionblock {
  display: flex;
}

.option__block {
  flex: 1;
  display: flex;
}

.option__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option__img {
  margin: 48px 40px
}

.option__subtitle {
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  color: #cc9966;
  font-size: 18px;
}

.option__title {
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 32px;
}

.option_nonselect {
  background-image: url(/images/banner/Фон1.png);
  background-repeat: no-repeat;
}

.option_select {
  background-image: url(/images/banner/Фон2.png);
  background-repeat: no-repeat;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 3px solid #cc9966;
}

.companydescr {
  display: flex;
}



.companydescr__leftblock {
  flex: 0 0 50%;
  padding-left: 260px;
  padding-right: 90px;
  background-image: url(images/homedescr/homeDescrTitleImage.png);
  background-repeat: no-repeat;
}

.companydescr__rightblock {
  flex: 0 0 50%;
  padding-right: 260px;
  padding-left: 90px;
  background-color: #ffcccc;

}

.companydescr__title {
  margin-top: 130px;
  margin-bottom: 90px;
  font-family: 'Bebas Neue';
  font-size: 80px;
  color: #339933;
}

.companydescr__subtitle {
  margin-bottom: 90px;
  font-family: 'Bebas Neue';
  font-size: 64px;
}

.companydescr__descr-bold {
  padding-top: 130px;
  margin-bottom: 80px;
  font-family: 'Atyp Text Semibold';
  font-size: 19px;
}

.companydescr__descr {
  font-family: 'Atyp Text';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.services {
  margin-bottom: 100px;
}

.services__siege {
  display: flex;
}

.siege__img {
  flex: 0 0 50%;
  
}

.siege__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.siege__descr {
  flex: 0 0 50%;
}

.siege__title {
  display: inline-block;
  padding: 15px 90px;
  margin-top: 65px;
  margin-bottom: 45px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #339933;
}

.siege__text {
  padding-left: 90px;
  margin-right: 260px;
  font-family: 'Atyp Text'; /* regular */
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.siege__text :not(:last-child) {
  margin-bottom: 10px;
}

.services__windows {
  display: flex;
}

.windows__descr {
  flex: 0 0 50%;
}

.windows__img {
  flex: 0 0 50%;
}

.windows__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.windows__title {
  display: inline-block;
  margin-top: 65px;
  margin-left: 260px;
  margin-bottom: 40px;
  padding: 15px 90px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #cc9966;
}

.windows__text {
  margin-left: 260px;
  margin-right: 90px;
  font-family: 'Atyp Text'; /*regular*/
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.services__painting {
  display: flex;
}

.painting__img {
  flex: 0 0 50%;
}

.painting__descr {
  flex: 0 0 50%;
}

.painting__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.painting__title {
  display: inline-block;
  padding: 15px 90px;
  margin-top: 65px;
  margin-bottom: 45px;
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #ffffff;
  background-color: #339933;
}

.painting__text {
  padding-left: 90px;
  margin-right: 260px;
  font-family: 'Atyp Text'; /* regular */
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.partners {
  margin-bottom: 100px;
}

.partners__wrapper {
  display: flex;
}

.partners__wrapper-title {
  flex-direction: column;
  align-items: center;
}

.partners__wrapper-items {
  gap: 50px;
  margin-bottom: 60px;
}

.partners__title {
  margin-bottom: 25px;
  padding: 0 120px;
  font-family: 'Bebas Neue';
  font-size: 64px;
  background-image: url(images/partners/title_backgroun.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partners__alllink {
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-family: 'Atyp Text'; /* bold */
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #339933;
  border-bottom: 1px dashed #339933;
}

.partners__item {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  height: 250px;
  background-color: #f6f6f6;
}

.partners__img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__img-remmers {
  display: inline-block;
  margin-top: 45px;
}

.partners__descr {
  max-width: 240px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
  font-family: 'Atyp Text'; /* regular */
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #666666;
}

.news {
  margin-bottom: 100px;
}

.news__wrapper {
  display: flex;
  margin-bottom: 60px;
}

.news__wrapper-title {
  flex-direction: column;
  align-items: center;
}

.news__wrapper-items {
  gap: 50px;
}

.news__title {
  margin-bottom: 25px;
  padding: 0 120px;
  font-family: 'Bebas Neue';
  font-size: 64px;
  background-image: url(images/news/news_title_background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.news__alllink {
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-family: 'Atyp Text'; /* bold */
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #339933;
  border-bottom: 1px dashed #339933;
}

.news__cover {
  margin-bottom: 27px;
}

.news__date {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  margin-top: -78px;
  width: 60px;
  height: 90px;
  text-align: center;
  font-family: 'Atyp Text'; /* semibold */
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  background-color: #339933;
}

.news__heading {
  margin-bottom: 20px;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.news__prev {
  max-width: 400px;
  font-family: 'Atyp Text'; /* regular */
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.footer {
  display: flex;
}

.footer__logo {
  position: absolute;
  padding: 20px;
  transform: translate(15px, -25px);
  background-color: #1e1e1e;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 260px) minmax(0, 1400px) minmax(0, 260px);
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1e1e1e;
}

.footer__nav {
  display: flex;
}

.footer__menu {
  display: flex;
  margin-right: 90px;
  padding-left: 20px;
  font-family: 'Atyp Text';
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer__menu :not(:last-child) {
  margin-right: 50px;
}

.footer__social :not(:last-child) {
  margin-right: 20px;
}
